#video-container {
  position: relative;
  width: 100%;
}

.home-page {
  /* Set background properties */
  background-image: url("/public/images/home-bg3.jpg"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  /* opacity: 0.1; */
  /* width: f; */

  /* Other styles like background position, repeat, etc., can be added as needed */
}

#text-overlay {
  position: absolute;
  top: 55%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
